<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="hide-left-col" title="隐藏侧栏">
      <i class="fa fa-angle-double-left"></i>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <script type="application/javascript">
      var hide = false, leftWidth = <%- theme.left_col_width %>;
      function hideLeftCol() {
        if (hide) {
          $(".left-col").width(leftWidth);
          $(".left-col .intrude-less").css('display', '');
          $("#tocButton").css('display', '');
          ($('#switch-btn').css('display') === 'block' && $('#switch-area').css('display') === 'block') || $('#toc').slideDown(320);
          $(".hide-left-col").css("left", leftWidth).html('<i class="fa fa-angle-double-left"></i>');
          $(".mid-col").css("left", leftWidth)
          $("#post-nav-button").css("left", leftWidth)
          $("#post-nav-button > a:nth-child(2)").css("display", "block")
          hide = false
        } else {
          $(".left-col").width(0);
          $(".left-col .intrude-less").css('display', 'none');
          $("#toc").css('display', 'none');
          $("#tocButton").css('display', 'none');
          $(".hide-left-col").css("left", 0).html('<i class="fa fa-angle-double-right"></i>');
          $(".mid-col").css("left", 0)
          $("#post-nav-button").css("left", 0)
          $("#post-nav-button > a:nth-child(2)").css("display", "none")
          if ($(".post-list").is(":visible")) {
            $("#post-nav-button .fa-bars,#post-nav-button .fa-times").toggle();
            $(".post-list").toggle();
          }
          hide = true
        }
      }
      $(".hide-left-col").click(function() {
        hideLeftCol()
      });
    </script>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
